Flask==0.10.1
Flask-RESTful==0.3.4
Flask-SQLAlchemy==2.0
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.8
Werkzeug==0.10.4
aniso8601==1.0.0
appnope==0.1.0
decorator==4.0.2
flask-restful-swagger==0.19
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
path.py==7.6
pexpect==3.3
pickleshare==0.5
pytz==2015.4
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
wsgiref==0.1.2
